<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/Users/cnyokoyama/Documents/UCLA/Homework/burger/public/assets/css/style.css" type="text/css" />
		<title>Pizza Pizza!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/Users/cnyokoyama/Documents/UCLA/Homework/Pizza/public/assets/css"></script> --}}
	</head>
	<body>
		<img src="/Users/cnyokoyama/Documents/UCLA/Homework/Pizza/public/assets/img/pizza.png" width="400px" id="pizza_pizza">
		{{{ body }}}
	</body>
</html>
