<h1>Pizza Pizza!</h1>

<main>
  <div class = "container">
    <div class="row">
      <div class="col s6">
        {{#each pizza}}
          {{#unless devoured}}
      </div>
      <form action="/pizza/{{this.id}}?_method=PUT" method="POST">
      <button type="submit" class="pizzaAvailable">{{this.pizza_name}}</button>
      </form>
    </div>
    {{/unless}}
    {{/each}}
  </div>

<div class ="col s6">
  {{#each pizza}}
  {{#if this.devoured}}
  <div class="pizzaEaten">
    <div>
      {{this.pizza_name}}
    </div>
  </div>
  {{/if}}
  {{/each}}
  
</div>

</main>


<h2>Add a Pizza of your liking!</h2>

<div class="row">
  <div class="col s12">
    <form action="/pizza" method="POST">
    <input type="text" id="name" name="pizza_name" placeholder="Yummy Pizza">
    <button type="submit" class="addPizzaButton">Add a Pizza</button>
    </form>
  </div>
</div>

